extends main

block body
   .container
    h1 Welcome to RisBlogs
    
    p
      | Hi! Welcome to RisBlogs. This is where I share my thoughts, experiences, and insights on various topics such as technology, books, movies, and much more. Join me on this journey as we explore the world together through the lens of my perspective.
    img(src="/images/im1.jpeg", alt="My Image", class="img-fluid")
