extends main 

block body
    if msg
        p= msg
    form.login-form(method="post" action="/login")
        input.input-field(name="name" placeholder="Username" type="text")
        input.input-field(name="password" placeholder="Password" type="password")
        button.login-button(type="submit") LOGIN
